@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --authsmith-accent: 7 81 207;

    --authsmith-dark: 6 15 17;
    --authsmith-light: 255 255 255;

    --authsmith-alert: 251 220 19;
    --authsmith-error: 228 8 12;

    --authsmith-muted-foreground: 81 81 81;
  }
}

@layer base {
  body {
    /* @apply bg-default text-default; */
  }
}